---
import { type CollectionEntry, getCollection } from "astro:content";
import { readingTime, formatDate } from "@lib/utils";
import Base from "@layouts/Base.astro";

export async function getStaticPaths() {
  const posts = (await getCollection("blog"))
    .filter((post) => !post.data.draft)
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();
---

<Base
  pageTitle={post.data.title}
  description={post.data.description}
  readingMode={true}
>
  <article class="animate">
    <p class="text-small margin-top">
      {readingTime(post.body)} min read &bull; {formatDate(post.data.date)}
    </p>
    <h1 id="heading">
      {post.data.title}
    </h1>
    <h3>
      {post.data.description}
    </h3>
    <hr />
    <Content />
  </article>
</Base>

<style>
  .margin-top {
    margin-top: 1rem;
  }

  #heading {
    margin-top: -1rem;
  }

  h3 {
    color: var(--uhl-color);
    margin-bottom: 1rem;
  }
</style>

<style is:global>
  hr {
    margin-bottom: 1rem;
  }

  li {
    margin-bottom: 1rem;
    line-height: 2rem;
  }

  .expressive-code {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
</style>
