---
import { type CollectionEntry, getCollection } from "astro:content";
import { readingTime, formatDate } from "@lib/utils"
import Base from "@layouts/Base.astro";

export async function getStaticPaths() {
const posts = (await getCollection("blog"))
.filter(post => !post.data.draft)
.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
return posts.map((post) => ({
params: { slug: post.slug },
props: post,
}));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();
---

<Base title={post.data.title} description={post.data.description} readingMode={true}>
<article class="animate">
  <p class="text-small margin-top">{readingTime(post.body)} min read &bull; {formatDate(post.data.date)}</p>
  <h2 id="heading">
    {post.data.title}
  </h2>
  <hr/>
  <br/>
  <Content/>
</article>
</Base>

<style>
  .margin-top {
    margin-top: 1rem;
  }

  #heading {
    margin-top: -1rem;
  }
</style>
