---
import Base from "@layouts/Base.astro"
import Post from "@components/Post.astro";
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
---

<Base
	pageTitle="blog"
	description="rozukke's development and general blog"
	showPicture={true}
	showStatic={true}
	animateStatic={false}
>
	<article>
		<h2>Blog (Under Construction!)</h2>
		<p>This page is undergoing heavy work.</p>
		{allPosts.map((post:any) => <Post
			url={post.url}
			title={post.frontmatter.title}
			date={post.frontmatter.date}
			shortDesc={post.frontmatter.desc}
		/>)}
	</article>
</Base>
