---
import { getCollection } from "astro:content";
import Base from "@layouts/Base.astro";
import Post from "@components/Post.astro";
import Link from "@components/Link.astro";
import { SITE, SOCIAL } from "@const";

const blogPosts = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Base pageTitle="rozukke" description="rozukke's dev website.">
  <h1 class="animate" id="title-name">rozukke::</h1>
  <p class="animate">
    I'm Artemis, a software engineer based in <i>Melbourne, Australia</i>.
  </p>
  <p class="animate">
    I currently develop computer vision software primarily in <i>C++</i>. Some may know me from
    my past teaching work at <Link href="https://www.rmit.edu.au/">RMIT University</Link>, where I
    assisted several computer architecture courses. I finally graduate this year
    (good riddance).
  </p>
  <p class="animate">
    I specialise in systems development. In my limited free time I prefer to
    write code in bearable languages (like <i>Rust</i> and <i>Zig</i>). You can see what I'm currently
    up to on my <Link href="/now/">now</Link> page.
  </p>
  <h2 class="animate">contact::</h2>
  <p class="animate">
    Please email me if you'd like to chat or to request a copy of my CV. Any information
    related to past experience is also available on my GitHub &amp; LinkedIn.
  </p>
  <ul class="animate">
    {
      SOCIAL.map((INFO) => (
        <li>
          <Link href={INFO.HREF} hero={false}>
            {INFO.NAME}
          </Link>
          {"::"}
        </li>
      ))
    }
    <li>
      <Link href={`mailto:${SITE.EMAIL}`} hero={false}>
        {SITE.EMAIL}
      </Link>
    </li>
  </ul>
  <h2 class="animate">posts::</h2>
  {
    blogPosts.map((post) => (
      <Post
        url={`/${post.collection}/${post.slug}`}
        title={post.data.title}
        date={post.data.date}
        shortDesc={post.data.description}
      />
    ))
  }
</Base>

<style>
  ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
  }

  li {
    list-style: none;
    padding-right: 0.3em;
  }

  #title-name::after {
    content: "artemis rosman";
    display: block;
    margin-top: -0.9em;
    margin-bottom: 1em;
    color: var(--contrast-color);
    font-size: 0.5em;
  }
</style>
