---
import Base from "@layouts/Base.astro";
import Post from "@components/Post.astro";
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
---

<Base
	pageTitle="rozukke"
	description="rozukke's dev website."
	showPicture={true}
	showStatic={true}
	animateStatic={true}
>
	<article>
		<h1 id="title-name">rozukke::</h1>
		<p>
			<strong
				>THIS WEBSITE IS A WORK IN
				PROGRESS!</strong>
		</p>
		<p>
			I'm Artemis, a software engineer based
			in Melbourne, Australia.
		</p>
		<p>
			I'm currently working at <a
				href="https://shield.ai/"
				></a
			> as a developer of computer vision software
			for  in
			<strong>C++</strong>. At the same time,
			I am a teacher of Computer Science at
			<a href="https://www.rmit.edu.au/"
				>RMIT University</a
			>.
		</p>
		<p>
			I specialise in code architecture and
			development using unmanaged languages.
		</p>
		<h2>About this website</h2>
		<p>
			I wanted to statically host some info
			about myself, alongside a blog that will
			hopefully have a few entries sometime
			soon.
		</p>
		<p>
			Access pages via the top nav or the post
			listings below.
		</p>
		<h2>Recent Posts</h2>
		{allPosts.map((post:any) => <Post
			url={post.url}
			title={post.frontmatter.title}
			date={post.frontmatter.date}
			shortDesc={post.frontmatter.desc}
		/>)}
	</article>
</Base>
