---
import Base from "@layouts/Base.astro";
import Post from "@components/Post.astro";
import { SOCIAL } from "@const";

const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
---

<Base
	pageTitle="rozukke"
	description="rozukke's dev website."
	showPicture={true}
	showStatic={true}
	animateStatic={true}
>
	<article>
		<h1 id="title-name">rozukke::</h1>
		<p>
			<em>THIS WEBSITE IS A WORK IN PROGRESS!</em>
		</p>
		<p>
			I'm Artemis, a software engineer based
			in <strong>Melbourne, Australia</strong>.
		</p>
		<p>
			I'm currently working at <a href="https://shield.ai/">Shield AI</a>
			as a developer of computer vision software for autonomous aircraft in <strong>C++</strong>.
			At the same time, I am a teacher of Computer Science at
			<a href="https://www.rmit.edu.au/">RMIT University</a>.
		</p>
		<p>
			I specialise in code architecture and
			development using unmanaged languages.
		</p>
		<h2>Socials</h2>
		<p>
			Find me below and shoot me a message if you're interesting in something I'm doing.
		</p>
		{SOCIAL.map(INFO => (
		<>
			<a href={INFO.HREF}>{INFO.NAME}</a>
			{"::"}
		</>
		))}
		<h2>Recent Posts</h2>
		{allPosts.map((post:any) => <Post
			url={post.url}
			title={post.frontmatter.title}
			date={post.frontmatter.date}
			shortDesc={post.frontmatter.desc}
		/>)}
	</article>
</Base>

<style>

#title-name::after {
	content: "artemis rosman";
	display: block;
	margin-top: -1em;
	margin-bottom: 1em;
	color: var(--contrast-color);
	font-size: 0.5em;
}

</style>
