---
import { getCollection } from "astro:content";
import Base from "@layouts/Base.astro";
import Link from "@components/Link.astro";
import { formatDate } from "@lib/utils";
import { SOCIAL } from "@const";
const linkedin = SOCIAL.find((entry) => entry.NAME == "linkedin")!;

const collection = await getCollection("work");

const work = await Promise.all(
  collection.map(async (item) => {
    const { Content } = await item.render();
    return { ...item, Content };
  }),
);

work.sort(entry => entry.data.endDate).reverse();
---

<Base pageTitle="work" description="rozukke's list of jobs" showPicture={false}>
  <h1>Work</h1>
  <p>
    You may be able to glean more from my <Link href={linkedin.HREF}>{linkedin.NAME}.</Link>
  </p>
  <ul class="work-list">
    {
      work.map((entry) => (
        <li class="animate">
          <div class="text-small">
            {formatDate(entry.data.startDate)} -{" "}
            {entry.data.endDate == "Current" ? "Current" : formatDate(entry.data.endDate as Date)}
          </div>
          <h3>{entry.data.company}</h3>
          <h4>{entry.data.role}</h4>
          <article>
            <entry.Content />
          </article>
        </li>
      ))
    }
  </ul>
</Base>

<style>
  .work-list {
    display: flex;
    flex-direction: column;
    padding-left: 0;
  }

  li {
    list-style: none;
    padding: 1em 1.5em;
    border-radius: 10px;
    border: 2px solid transparent;
    margin-top: 20px;
    background-color: var(--bg-color-transparent);
    color: white;
  }

  h4 {
    margin-bottom: 1rem;
    margin-top: -0.5rem;
  }
</style>
